<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"content="width=device-width, initial-scale=1.0">
    <title>React 18 Rocketship Countdown</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.0.2/tailwind.min.css" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- Babel and React via CDN -->
    <script src="https://unpkg.com/@babel/standalone@latest/babel.min.js"></script>
    <script src="https://unpkg.com/react@18/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@18/umd/react-dom.development.js"></script>
</head>

<body class="bg-[url('/static/img/gopher-2024.jpeg')] bg-cover bg-no-repeat bg-center h-screen w-screen">

    <div id="root">
        <h1>Rocketship Launching Count Down {{.timestamp}}</h1>
    </div>

<script type="text/babel">
"use strict";

const { useState, useEffect } = React;

const App = () => {
const [countdown, setCountdown] = useState("Connecting...");

useEffect(() => {
const connectWebSocket = () => {
    // Create a WebSocket connection to the server
    const url = new URL('./socket', location.href);
    url.protocol = url.protocol.replace('http', 'ws');
    let socket = new WebSocket(url);

    // Handle incoming messages from the server
    socket.onmessage = (event) => {

    // Update the countdown value on the HTML page
    var timestamp = Date.parse(event.data);
    const date = new Date(timestamp);

    const year = date.getFullYear();
    const month = date.getMonth() + 1; // Months are 0-indexed, so add 1
    const day = date.getDate();
    const hours = date.getHours();
    const minutes = date.getMinutes();
    const seconds = date.getSeconds();
    const milliseconds = date.getMilliseconds();

    console.log(year, month, day, hours, minutes, seconds, milliseconds);
    
    document.getElementsByTagName("h1")[0].innerHTML = `Rocketship Launching Count Down ${event.data}`;
    document.getElementById("day").innerHTML = `${day}`;
    document.getElementById("hours").innerHTML = `${hours}`;
    document.getElementById("minutes").innerHTML = `${minutes}`;
    document.getElementById("seconds").innerHTML = `${seconds}`;    

    setCountdown(`Rocketship Launching Countdown ${event.data}`);

    // Reconnect to the WebSocket every 5 seconds
    setTimeout(connectWebSocket, 5000);
    
    };

    socket.onerror = () => {
        console.error("WebSocket error, reconnecting...");
        setTimeout(connectWebSocket, 5000); // Retry every 5 seconds
    };
};

connectWebSocket();
}, []);

return (
<div>
    <center>
        <h1>Rocketship Launching Count Down {countdown}</h1>
        <div className="sm:w-full md:w-full lg:w-full sm:p-5 md:p-10 lg:p-40">
            <div className="lg:flex md:flex sm:flex mb-4">
                <div className="sm:w-full md:w-full lg:w-1/4 bg-[#1e1e1f] rounded-xl mx-1 p-8">
                    <h2 id="day" className="text-white text-8xl">13</h2>
                    <h4 className="uppercase text-white text-base text-5xl">Day</h4>
                </div>
                <div className="sm:w-full md:w-full lg:w-1/4 bg-[#1e1e1f] rounded-xl mx-1 p-8">
                    <h2 id="hours" className="text-white text-8xl">22</h2>
                    <h4 className="uppercase text-white text-base text-5xl">Hours</h4>
                </div>
                <div className="sm:w-full md:w-full lg:w-1/4 bg-[#1e1e1f] rounded-xl mx-1 p-8">
                    <h2 id="minutes" className="text-white text-8xl">56</h2>
                    <h4 className="uppercase text-white text-base text-5xl">Minutes</h4>
                </div>
                <div className="sm:w-full md:w-full lg:w-1/4 bg-[#1e1e1f] rounded-xl mx-1 p-8">
                    <h2 id="seconds" className="text-white text-8xl">05</h2>
                    <h4 className="uppercase text-white text-base text-5xl">Seconds</h4>
                </div>
            </div> 
        </div> 
    </center>
</div>
);
};

const root = ReactDOM.createRoot(document.getElementById("root"));
root.render(<App />);

</script>
</body>
</html>