<!doctype html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="style.css">
</head>
<body>
<center>
<!-- <h1><u>Rocketship Launching Count Down {{.timestamp}}</u></h1> -->
<h1>Rocketship Launching Count Down <span id="timestamp">hello world</span></h1>
<img src="/static/img/RocketShipCountDown_logo.png" id="rocketship"> 
<!-- <img src="/static/img/gopher.jpeg" alt="W3Schools.com"> -->

</center>

<script>
   
    var lastDate = new Date("oct 30, 2022 23:59:59").getTime();
    var x = setInterval(function() {
    var now = new Date().getTime();
    var t = lastDate - now;
    var days = Math.floor(t / (1000 * 60 * 60 * 24));
    var hours = Math.floor((t%(1000 * 60 * 60 * 24))/(1000 * 60 * 60));
    var minutes = Math.floor((t % (1000 * 60 * 60)) / (1000 * 60));
   
    document.getElementById("timestamp").innerHTML = days + "d " 
    + hours + "h " + minutes + "m ";
        if (t < 0) {
            clearInterval(x);
            document.getElementById("timestamp").innerHTML = "EXPIRED";
        }
    }, 1000);

    </script
</body>
</html>
